* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  "Roboto", sans-serif;
}

:root {
    --text-color: #EEEEEE;
    --secondary-text-color: #bcbcbc;
    --background-color: #291919;
    --banner-color: #131313;
    --primary-color: #5c1b0b;
    --primary-hover: #a72606;
    --secondary-color: #31363F;
    --contrast-color:  #e7b73d;
    --contrast-hover: #ffe8af;
}

/* SCROLLBAR */

html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: .5rem;
}
  
::-webkit-scrollbar-track {
    background-color: var(--background-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--banner-color);
    border-radius: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    background: rgb(41,25,25);
    background: linear-gradient(49deg, rgba(41,25,25,1) 10%, rgba(92,27,11,1) 50%, rgba(41,25,25,1) 90%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  
/* HEADER AREA */

header {
    min-height: 7.5rem;
    width: 100%;
    background-color: var(--banner-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;

    border-bottom: solid .25rem #1b1b1b80;
}

header button {
    all: unset;
}

.banner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-logo {
    width: 5rem;
    transition: all .3s;
}

.banner-logo:hover {
    transform: scale(1.1);
}

.banner-title {
    width: 18rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

nav a button {
    all: unset;

    color: var(--text-color);
    font-weight: 500;
    transition: all .5s;

    position: relative;
}

nav a button:hover {
    color: var(--contrast-color);
}

nav a button:after {
    content: '';
    position: absolute;
    bottom: -.15rem;
    left: 0;
    width: 1%;
    height: .15rem;
    background-color: var(--contrast-color);
    opacity: 0;
    transition: all .5s;
}

nav a button:hover:after {
    background-color: var(--contrast-color);
    opacity: 1;
    width: 100%;
}

/* MAIN AREA */

main {
    flex-basis: 1;
    height: auto;

    max-width: 1920px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
    justify-content: center;

    padding: 5rem 0;
}

.manga-box {

    background-color: var(--banner-color);
    border-radius: 1rem;

    width: 34rem;
    height: 25.2rem;

    color: var(--text-color);
    box-shadow: 0 .2rem .3rem 0 rgba(0,0,0,0.4);

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 2rem;
    gap: 2rem;

    transition: all .3s;
}

.manga-img {
    width: auto;
    height: 340px;
    border-radius: 5px;
}

.manga-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga-title {
    font-size: 1.5rem;
}

.author-name {
    font-size: .85rem;
    color: var(--secondary-text-color);
}

.last-chapter {
    all: unset;

    margin-top: .75rem;
    width: 4rem;

    text-align: center;
    color: var(--banner-color);
    background-color: var(--contrast-color);
    padding: .3rem;
    border-radius: .7rem;

    transition: all .3s;
    animation: Glow 2s infinite alternate;
}

.last-chapter:hover {
    background-color: var(--contrast-hover);
}

.manga-description {
    font-size: .9rem;
    margin-top: 1rem;
}

.last-title {
    font-size: 1rem;
    margin-top: -.8rem;
}

.link-button {
    all: unset;
    margin-top: .6rem;

    font-size: .9rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: .9rem 0;
    border-radius: .6rem;

    transition: .3s;
    width: 13.75rem;
}

.link-button:hover {
    background-color: var(--primary-hover);
    /* transform: scale(1.05); */
}

.manga-footer {
    margin-top: .6rem;

    font-size: .9rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 1.25rem .3rem;
    border-radius: 12px;

    width: 13.75rem;

    transition: all .3s;
}

.manga-footer:hover {
    opacity: .9;
}

/* FOOTER AREA */

footer {
    min-height: 5rem;
    width: 100%;
    background-color: var(--banner-color);
    border-top: solid .25rem #1b1b1b80;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

.credits-link, .credits-link a {
    font-size: 1rem;
    color: var(--text-color);
    transition: all .3s;
    position: relative;
}

.credits-link a:hover {
    color: var(--contrast-color);
}

.credits-link a:after {
    content: '';
    position: absolute;
    bottom: -.15rem;
    left: 0;
    width: 1%;
    height: .15rem;
    background-color: var(--text-color);
    opacity: 0;
    transition: all .3s;
}

.credits-link a:hover:after {
    background-color: var(--contrast-color);
    opacity: 1;
    width: 100%; 
}

footer button {
    all: unset;
}

footer svg {
    color: var(--contrast-color);
    fill: var(--contrast-color);
    transition: all .5s;
    margin-left: .9rem;

    background-color: none;
    border: .15rem solid var(--secondary-color);
    border-radius: .4rem;
    padding: .4rem;
}

footer svg:hover {
    background-color: rgba(49, 54, 63, 0.275);
}

/* ANIMATIONS */

@keyframes Glow {
    from {
        box-shadow: 0,
    }

    to {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.350),
                    0 0 20px rgba(255, 255, 255, 0.350)
    }
}

/* RESPONSIVIDADE */

@media (max-width: 1780px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 1200px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 850px) {
    header nav {
        display: none!important;
    }

    header {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 600px) {
    .manga-box {
        width: 30rem;
        height: 22.3rem;

        padding: 1.5rem;
        gap: 1.5rem;
    }

    .manga-img {
        width: 200px;
        height: auto;
        border-radius: 5px;
    }

    .manga-footer {
        display: none;
    }

}

@media (max-width: 550px) {

    main {
        gap: 1rem;
    }

    .banner-title {
        width: 15rem;
    }

    .manga-box {
        width: 22rem;
        height: 18rem;

        padding: 1rem;
        gap: 1rem;
    }

    .manga-img {
        min-width: 8rem;
    }

    .manga-aside {
        width: 150px;
    }

    .manga-title {
        font-size: 1rem;
    }

    .author-name {
        font-size: .7rem;
    }

    .last-chapter {
        padding: .1rem;
    }

    .manga-description {
        font-size: .8rem;
    }

    .last-title {
        font-size: .7rem;
    }

    .link-button {
        font-size: .8rem;
        width: 8rem;
        padding: .5rem;
    }

    footer {
        padding: 0 2rem;
    }

}