* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  "Roboto", sans-serif;
}

:root {
    --text-color: #EEEEEE;
    --secondary-text-color: #bcbcbc;
    --background-color: #291919;
    --banner-color: #171717;
    --primary-color: #5c1b0b;
    --primary-hover: #b14429;
    --secondary-color: #31363F;
    --contrast-color:  #e7b73d;
    --contrast-hover: #ffe8af;
}

/* SCROLLBAR */

html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--background-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--banner-color);
    border-radius: 20px;
}
  
/* HEADER AREA */

header {
    height: 130px;
    width: 100%;
    background-color: var(--banner-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    border-bottom: solid 4px #1b1b1b80;
}

.banner-img {
    width: 80px;
    transition: all .3s;
}

.banner-img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

nav a button {
    all: unset;

    color: var(--text-color);
    font-weight: 500;
    transition: all .5s;

    position: relative;
}

nav a button:hover {
    color: var(--contrast-color);
}

nav a button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 1%;
    height: 2px;
    background-color: var(--contrast-color);
    opacity: 0;
    transition: all .5s;
}

nav a button:hover:after {
    background-color: var(--contrast-color);
    opacity: 1;
    width: 100%;
}

/* MAIN AREA */

main {
    background-color: var(--background-color);

    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    padding: 80px;
}

.manga-box {
    background-color: var(--banner-color);
    border-radius: 15px;
    padding: 30px;
    max-width: 100%;
    min-width: 550px;

    color: var(--text-color);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 40px;

    transition: all .3s;
}

.manga-img {
    width: 230px;
    border-radius: 5px;
}

.manga-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga-title {
    font-size: 24px;
}

.author-name {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.last-chapter {
    all: unset;

    margin-top: 12px;
    width: 60px;

    text-align: center;
    color: var(--banner-color);
    background-color: var(--contrast-color);
    padding: 2px;
    border-radius: 10px;

    transition: all .3s;
    animation: Glow 2s infinite alternate;
}

.last-chapter:hover {
    background-color: var(--contrast-hover);
    /* transform: scale(1.05); */
}

.manga-description {
    font-size: 14px;
    margin-top: 15px;
}

.link-button {
    all: unset;
    margin-top: 10px;

    font-size: 14px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 8px 0;
    border-radius: 10px;

    transition: .3s;
    width: 220px;
}

.link-button:hover {
    background-color: var(--primary-hover);
    /* transform: scale(1.05); */
}

.manga-footer {
    margin-top: 10px;

    font-size: 14px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 20px 0;
    border-radius: 12px;

    width: 220px;
}

/* FOOTER AREA */

footer {
    height: 80px;
    width: 100%;
    background-color: var(--banner-color);
    border-top: solid 4px #1b1b1b80;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 90px;
}

.credits-link, .credits-link a {
    font-size: 16px;
    color: var(--text-color);
    transition: all .3s;
    position: relative;
}

.credits-link a:hover {
    color: var(--contrast-color);
}

.credits-link a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1%;
    height: 2px;
    background-color: var(--text-color);
    opacity: 0;
    transition: all .3s;
}

.credits-link a:hover:after {
    background-color: var(--contrast-color);
    opacity: 1;
    width: 100%; 
}

footer button {
    all: unset;
}

footer svg {
    color: var(--contrast-color);
    fill: var(--contrast-color);
    transition: all .5s;
    margin-left: 20px;
}

footer svg:hover {
    color: var(--contrast-hover);
    fill: var(--contrast-hover);

    transform: translateY(-5px);
}

/* ANIMATIONS */

@keyframes Glow {
    from {
        box-shadow: 0,
    }

    to {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.350),
                    0 0 20px rgba(255, 255, 255, 0.350)
    }
  }